name: "Ruby on Rails CI"
on:
  push:
    branches: ["master"]
    paths:
      - "backend/**"
  pull_request:
    branches: ["master"]
    paths:
      - "backend/**"
defaults:
  run:
    working-directory: backend
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14-alpine
        ports:
          - "5432:5432"
        env:
          POSTGRES_DB: rails_test
          POSTGRES_USER: rails
          POSTGRES_PASSWORD: password
        options: --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      RAILS_ENV: test
      DATABASE_URL: "postgres://rails:password@localhost:5432/rails_test"
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      # Add or replace dependency steps here
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@ec02537da5712d66d4d50a0f33b7eb52773b5ed1 # v1.144.2
        with:
          bundler-cache: true
          working-directory: backend
      # Add or replace database setup steps here
      - name: Set up database schema
        run: bin/rails db:schema:load
      # Add or replace test runners here
      - name: Run tests
        run: bundler exec rspec
      # Upload code coverage
      - name: Upload coverage results
        uses: actions/upload-artifact@master
        with:
          name: code-coverage
          path: backend/coverage
